<title>ToDoList</title>

<div style="text-align: center">
  <input
    type="text"
    [(ngModel)]="inputStr.inputValue"
    (keydown)="inputStr.onEnter($event)"
    placeholder="Введите задачу"
  />
</div>

<div style="text-align: center">
  <p>Ваши задачи:</p>
  @for(task of inputStr.BoolTasks;track task.name){
    <input
      type="checkbox"
      (change)="task.completed = !task.completed"
    />
    <span [class.completed]="task.completed">
        {{ task.name }}<br>
    </span>
  }
</div>>



